.query {
    padding: 25px;;
}

.query__list {
    height: 750px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
}