.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App-header {
  display: flex;
  color: white;
}

.wrapper {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
}