.search-section {
    width: 100%;
    padding: 25px;
}

.search_form {
    width: 100%;
    display: flex;
    flex-direction: row;

}

.search_input {
    width: 100%;
    height: 50px;
    margin-right: 50px;
    font-size: 24px;
}

.button {
    display: flex;
    
}

.button > .search_button:not(:last-child) {
    margin-right: 10px;
}

.search_button, .save_button {
    height: 45px;
    width: 100px;
    background-color: #fefefe;
    border-radius: 15px;
}

@media only screen and (max-width: 768px) {
    .search_form, .button {
        flex-direction: column;
    }

    .search_button, .save_button {
        width: 100%;
        margin-top: 20px;
    }
}