.images {
    height: 750px;
    margin: 25px;
    background-color: #ffffff;
    border: 1px solid #000000;
    overflow: scroll;
}

.images__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 10px;
    place-items: center;
}

.images__list img{
    width: 100%;
}

.images .error_message {
    color: #dd4455;
    font-size: 24px;
    font-weight: 500;
}